@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Raleway, sans-serif;
	color: white;
}

.bkgdcont {
	width: 100%;
	height: 100vh;

	background: #555555 url("./../img/mixingsmall.jpg") no-repeat center;
	background-size: cover;

	position: fixed;

	z-index: -1;
}

.main {
	text-align: center;
}

a {
	padding: 1rem 2rem;
	margin: .5rem .5rem;
	background-color: white;
	border-radius: 15px;
	display: inline-block;

	color: #222222;
	text-decoration: none;
}

.login {
	background: none;
	text-decoration: underline;
	color: darkgrey;
}

.localinformation {
	margin-top: 4rem;
}

.localinformation p {
	margin: .1rem;
}

@media screen and (max-width: 600px){
	a {
		display: block;
	}

	.main {
		text-align: left;
		padding: 20px;
	}

	.links {
		text-align: center;
		font-size: 1.1em;
	}

	body {
		align-items: normal;
	}

	h1 {
		font-size: 2.5em;
		margin-bottom: 0;
	}

	p {
		font-size: 1.2em;
		margin: 0 0 16px 0;
	}
}