.container.header form {
	display: flex;
}

.login-form {
	display: flex;
	flex-direction: column;
}

/* SEARCH FORM */

#search-form {
	display: flex;
}

#search-input {
	flex-grow: 1;

	padding: 10px;
	margin-right: 20px;
}

button, a.action {
	padding: 0 30px;
	background-color: #214A5B;
	color: white;

	font-weight: 600;
	border: none;
	border-radius: 5px;
}

a.action {
	padding: 5px 25px;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}

.action.destructive {
	background-color: #E65532;
}

button:hover, .upload-input + label:hover, a.action:hover {
	opacity: 0.8;
}

/* UPLOAD BUTTON */
.upload-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-input + label {
	cursor: pointer;

	padding: 10px 10px;
	background-color: #214A5B;
	color: white;

	font-weight: 600;
	border: none;
	border-radius: 5px;
}

.upload-input + label i {
	padding-right: 5px;
}

form p {
	margin: 0;
	font-size: 0.85rem;
}

.error {
	color: #E65532;
}

/* UPLOAD PROGRESS BAR */
#progress-wrp {
	border: 1px solid #214A5B;
	padding: 1px;
	position: relative;
	height: 4px;
	border-radius: 3px;
	margin: 10px 0;
	text-align: left;
	background: #fff;
	box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar {
	height: 100%;
	/*border-radius: 3px;*/
	background-color: #214A5B;
	width: 0;
	box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
	top: 3px;
	left: 50%;
	position: absolute;
	display: inline-block;
	color: #000000;
}