.container.header form {
	display: flex;
}

button {
	cursor: pointer;
}

button, a.action {
	padding: 0 30px;
	background-color: #214A5B;
	color: white;

	font-weight: 600;
	border: none;
	border-radius: 5px;
}

a.action {
	padding: 5px 25px;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}

.action.destructive {
	background-color: #E65532;
}

button:hover, .upload-input + label:hover, a.action:hover {
	opacity: 0.8;
}

.success {
	color: #31872c;
}

input.error {
	border: 1px solid #E65532;
}

button.disabled, button:disabled {
	opacity: 0.5;
}




/*---------- SEARCH FORM ----------*/
#search-form {
	display: flex;
}

#search-input {
	flex-grow: 1;

	padding: 10px;
	margin-right: 20px;
}




/*---------- MODAL ----------*/

.modal-form {
	display: flex;
	flex-direction: column;
}

.modal-action-buttons button {
	border: 2px solid #214A5B;
	background-color: #EFEFEF;
	color: #214A5B;
}

.modal-action-buttons button:hover {
	background-color: #214A5B;
	color: white;
}

.modal-action-buttons .default-action {
	background-color: #214A5B;
	color: white;
}

.multi-checkbox {
	background: white;
	border: #214A5B 1px solid;
	padding: 0rem;

	overflow-x: hidden;
	overflow-y: scroll;

	min-width: 400px;

	max-height: 200px;
}

.checkboxrow {
	padding: .25rem .5rem;
	display: flex;
}

.checkboxrow:first-child {
	padding-top: .5rem;
}

.checkboxrow:last-child {
	padding-bottom: .5rem;
}

.checkbox-label {
	padding-left: .5rem;
}

.checkboxrow input {
	margin: 0;
}

.checkboxrow:hover {
	background-color: #CFD6DE;
}

.perm-desc {
	font-size: .8rem;
	margin: 0;
}

.modal-form .form-element {
	display: flex;
	align-items: center;
}

.modal-form .form-element label {
	min-width: 7.5rem;
	width: 7.5rem;
}





/*---------- CONTENT FORM ----------*/
.content-form .form-element {
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: .5rem;
}

.content-form .form-element label {
	min-width: 10rem;
	width: 10rem;
}

.content-form .form-element input {
	padding: .3rem;
}

.content-form .form-element.submit-element {
	justify-content: right;
	-webkit-justify-content: flex-end;
}

.content-form .form-element button {
	padding: .4rem 1.1rem;
}




/*---------- UPLOAD BUTTON ----------*/
.upload-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-input + label {
	cursor: pointer;

	margin: 0px 2px 10px 2px;
	padding: 10px 10px;
	background-color: #214A5B;
	color: white;

	font-weight: 600;
	border: none;
	border-radius: 5px;
}

.upload-input + label i {
	padding-right: 5px;
}

form p.small {
	margin: 0;
	font-size: 0.85rem;
	text-align: center;
}

#upload-file-rename-input {
	padding: 10px 10px;
}

.container.modal-action-buttons button {
	margin-left: 10px;
}

.container.modal-action-buttons .left-most-button {
	margin-left: 0;
}

.error {
	color: #E65532;
}

.ui.selection.dropdown {
	min-height: auto; !important;
	height: 1em;
	display: flex;
}

/* UPLOAD PROGRESS BAR */
#progress-wrp {
	border: 1px solid #214A5B;
	padding: 1px;
	position: relative;
	height: 4px;
	border-radius: 3px;
	margin: 10px 0;
	text-align: left;
	background: #fff;
	box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar {
	height: 100%;
	/*border-radius: 3px;*/
	background-color: #214A5B;
	width: 0;
	box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
	top: 3px;
	left: 50%;
	position: absolute;
	display: inline-block;
	color: #000000;
}