.darkenscreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
	background: rgba(0, 0, 0, 0.3);
}

.modal {
	max-height: calc(100% - 100px);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: #EFEFEF;
	padding: 40px;
	z-index: 999;
}

.modal .container.header {
	padding-top: 0;
}

.modal input {
	padding: 5px 5px;
	margin:  5px 0;
}

.modal button {
	padding: 10px 15px;
}

.bottommsg {
	padding: 10px 100px;



	position: fixed;
	bottom: -100px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 999;

	background-color: white;
	border: 1px solid #214A5B;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	box-shadow: -0px 0px 10px rgba(0,0,0,.3);
}

.bottommsg p {
	margin: 0;
}