@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

body {
	background-color: #CFD6DE;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #214A5B;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

a, a:visited {
	color: #214A5B;
}

.navbar {
	background-color: #B2C9E3;
	padding: 20px 0;
}

.header-image {
	height: 80px;
	width: auto;
	padding-left: 50px;
}


/* TABBAR */
.tab-bar {
	width: 100%;
	display: flex;
	align-content: stretch;
	justify-content: center;
	border-bottom: 4px solid #214A5B;
	background-color: #CFD6DE;
}

.tab-item, .mobile-tab-dropdown, .mobile-tab-item {
	background-color: #CFD6DE;
	color: #214A5B;
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;

	padding: 10px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

.tab-item.tab-active, .tab-item:hover, .mobile-tab-dropdown, .mobile-tab-item.tab-active {
	background-color: #214A5B;
	color: white;
}

.mobile-tab-dropdown {
	display: none;
}

#tabs-dropdown-button {
	font-size: 1.4rem;
	right: 1.5rem;
	position: absolute;

	transition: all 0.2s ease-in-out;
}

#tabs-dropdown-button.active {
	transform: rotate(180deg);
}

.mobile-tab-list {
	display: none;
	position: absolute;
	width: 100%;
	border-top: 4px solid #CFD6DE;
	border-bottom: 4px solid #214A5B;
	z-index: 100;
}

.occlusion-panel {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.main {
	max-width: 1000px;
	margin: auto;
}

.main-header {
	display: flex;
	align-items: center;
}

.main-header h1 {
	margin: 0;
	padding-left: 30px;
	flex-grow: 1;
}

.main-header h1 a {
	text-decoration: none;
}

.main-header div {
	padding-right: 50px;
	text-align: right;
}

.main.content {
	background-color: #EFEFEF;
}

.main-container {
	padding: 35px 50px 50px 50px;
}

.container.header {
	display: flex;
	padding-bottom: 5px;
	/*border-bottom: #214A5B 2px solid;*/
}

.header {
	margin: 0;
	flex-grow: 1;
	padding: 6px 0;
}

/* CONTAINERS */
.container {
	padding: 20px 0;
}

.container:first-child {
	padding-top: 0;
}

.container:last-child {
	padding-bottom: 0;
}

/* TABLE */
.file-table {
	width: 100%;
	max-width: 100%;
	border: #214A5B 1px solid;
	background-color: #FFFFFF;
	border-collapse: collapse;
}

.file-table button {
	padding: 5px 15px;
}

.file-row {
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
}

.file-cell {
	padding: 10px 5px;
	white-space: nowrap;
	border: none;
	border-top: #214A5B 1px solid;
}

.file-cell:first-child {
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	flex-grow: 1 ;
}

.file-row:first-child .file-cell {
	border: none;
}

.threedotsdropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: white;
	/*padding: 10px;*/
	border: #214A5B 2px solid;
}

.threedotsaction {
	margin: 0;
	padding: 5px 10px;
	cursor: pointer;
}

.threedotsaction.destructive {
	color: #E65532;
}

.threedotsaction:hover {
	background-color: #EFEFEF;
}

.file-cell.dropdown-cell {
	display: none;
	padding-right: 10px;

	transition: all 0.2s ease-in-out;
}

.file-cell.dropdown-cell.active {
	transform: rotate(90deg);
}

.page-numbers {
	padding: 10px 10px;
	background-color: #214A5B;
	border: #214A5B 1px solid;
	color: white;
	text-align: center;
}

.page-numbers.bottom {
	border-radius: 0 0 10px 10px;
}

.page-numbers.top {
	border-radius: 10px 10px 0 0;
}


.page-number-link {
	padding: 10px 10px;
	color: white;
	font-weight: 600;
	cursor: pointer;
}

.page-number-link:hover, .page-number-link.current {
	background-color: #416B7A;
}



/* BEGIN MOBILE ADJUSTMENTS */
@media screen and (max-width: 500px) {
	/* ------ MAIN ------ */
	.main-container {
		padding: 1rem;
		overflow: hidden;
	}

	/* ------ NAVBAR ------ */
	.navbar {
		padding: 1.5rem 0;
	}

	h1 {
		font-size: 1.5rem;
	}

	.header-image {
		padding-left: 1.5rem;
		height: 50px;
	}

	/* ------ TABBAR ------ */
	.tab-bar {
		display: block;
		border-bottom: none;
	}

	.tab-item {
		display: none;
	}

	.mobile-tab-dropdown {
		display: block;
	}

	/* ------ SEARCH ------ */
	#search-input {
		font-size: 16px;
	}
}

@media screen and (max-width: 700px){
	/* ------ TABLE ------ */
	.file-row {
		flex-direction: column;
	}

	.action-cell {
		display: none;
		padding: 0;
	}

	.action-cell a.action {
		display: block;
		border-radius: 0;
		padding: 10px 25px;
	}

	.file-cell.dropdown-cell {
		display: block;
		float: right;
		padding: 0px 5px;
		border: none;
	}
}