.usertoolbar {
	background-color: #E3E3E3;
	padding: 0 10px;
	color: #868686;
	text-align: right;
}

.usertoolbar-links {
	margin:0px;
	text-align: right;
}

.usertoolbar-link {
	display: inline-block;
	text-transform: uppercase;
	padding: 5px 15px;
	cursor: pointer;
	transition: color, background-color 0.1s linear;
}

.usertoolbar-link:hover {
	background-color: #868686;
	color: #E3E3E3;
}

.usertoolbar-link:hover a {
	color: #E3E3E3;
}

.usertoolbar-link a {
	color: #868686;
	text-decoration: none;
}

#mobile-bars {
	font-size: 1.5rem;
	padding: 0 1rem;
	display: none;

	transition: all 0.2s ease-in-out;
}

#mobile-bars.active {
	transform: rotate(90deg);
}

@media screen and (max-width: 500px) {
	.usertoolbar {
		padding: 0.75rem 1rem;
	}

	 .usertoolbar-links {
		 display: none;
		 padding-top: 1rem;
		 /*text-align: center;*/
		 font-size: 1.2rem;
	 }

	 .usertoolbar-link {
		 display: block;
	 }

	#mobile-bars {
		display: inline-block;
	}
}